InheritParentConfig: true
Checks: >
  -readability-identifier-naming,
  -readability-redundant-casting,
  -readability-redundant-control-flow,
  -readability-redundant-declaration,
  -bugprone-sizeof-expression,
