CompileFlags:
  Add: -Wno-unknown-warning-option
  Remove: [-m*, -f*]
Index:
  StandardLibrary: No
Style:
  QuotedHeaders: "src/.*"
  AngledHeaders: "include/.*"
Includes:
  AnalyzeAngledIncludes: Yes
  MissingIncludes: Strict
InlayHints:
  BlockEnd: No
  Designators: No
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  DefaultArguments: Yes
Hover:
  ShowAKA: No
