:root {
    interpolate-size: allow-keywords;
}

body {
    --font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --font-family-monospace: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

.memname {
    font-family: var(--font-family-monospace);
}

/* The alias @evtapi is used to mark EVT API functions with a .evtapi child */
.memitem:has(.evtapi) {
    .memproto {
        td.memname .el { display: none }
        td.memname::before { content: "Call(" }
        td.memname::after { content: "," }
    }
}

details {
    margin: var(--spacing-large) 0;
    padding: var(--spacing-medium) var(--spacing-large);
    background: var(--blockquote-background);
    border-radius: var(--border-radius-large);
}

summary {
    cursor: pointer;
    user-select: none;
    font-weight: 500;
}
