name: Docs
on:
  push:
    branches:
      - main
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
  doxygen:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Doxygen
        run: |
          # doxygen on apt is too old
          curl -L https://www.doxygen.nl/files/doxygen-1.10.0.linux.bin.tar.gz | tar xz
          sudo mv doxygen-*/bin/doxy* /usr/local/bin
      - name: Generate docs
        run: doxygen

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
