name: Docs
on:
  push:
    branches:
      - main
      - i-love-continuous-deployment # TEMP obviously
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
  doxygen:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Doxygen
        run: |
          # doxygen on apt is too old
          curl -L https://www.doxygen.nl/files/doxygen-1.10.0.linux.bin.tar.gz | tar xz
          sudo mv doxygen-*/bin/doxy* /usr/local/bin
      - name: Generate docs
        run: doxygen

      - name: Deploy to papermar.io
        if: github.repository == 'pmret/papermario'
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          source: docs/doxygen/html/
          target: "/var/www/papermar.io/html/docs/"
          strip_components: 3

      - name: Upload artifact
        if: github.repository != 'pmret/papermario'
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: '.'
      - name: Deploy to GitHub Pages
        if: github.repository == 'pmret/papermario'
        id: deployment
        uses: actions/deploy-pages@v4
